[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Luminescence"]
	path = Luminescence
	url = https://github.com/r-lum/luminescence
[submodule "RCarb"]
	path = RCarb
	url = https://github.com/r-lum/rcarb
[submodule "RLumCarlo"]
	path = RLumCarlo
	url = https://github.com/r-lum/rlumcarlo
[submodule "RLumModel"]
	path = RLumModel
	url = https://github.com/r-lum/rlummodel
[submodule "rxylib"]
	path = rxylib
	url = https://github.com/r-lum/rxylib
