[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RLumModel"]
	path = RLumModel
	url = https://github.com/r-lum/rlummodel
	shallow = true
	registered = true
[submodule "RLumCarlo"]
	path = RLumCarlo
	url = https://github.com/r-lum/rlumcarlo
	shallow = true
	registered = true
[submodule "Luminescence"]
	path = Luminescence
	url = https://github.com/r-lum/luminescence
	shallow = true
	registered = true
[submodule "RCarb"]
	path = RCarb
	url = https://github.com/r-lum/rcarb
	shallow = true
	registered = true
[submodule "rxylib"]
	path = rxylib
	url = https://github.com/r-lum/rxylib
	shallow = true
	registered = true
